body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(img/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.dice {
    height: 100px;
    top: 35vh;
    left: 23%;
    position: absolute;
    border-radius: 5px;
}

/* removes focus around button after click */
.btn:focus {
    outline: none;
    box-shadow: none;
  }

.new { 
    top: 10vh;
    position: absolute;
}

.roll { 
    top: 55vh;
    position: absolute;
}

.hold { 
    top: 65vh;
    position: absolute;
}

.player-0,
.player-1 {
    margin-top: 20vh;
}

i {
    /* color: #EB4D4D; */
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align:middle;
    margin-top: -4px;
    /* transition: margin 0.3s; */
}

.final-score {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    position: absolute;
    top:25vh;
}