body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(img/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.dice {
    height: 100px;
    margin-top: 30vh;
}

.p1,
.p2 {
    margin-top: 15%;
}

i {
    /* color: #EB4D4D; */
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align:middle;
    margin-top: -4px;
    /* transition: margin 0.3s; */
}